  body {
  margin: 0;
  background-color: #ff9a68; 
}

  .card-container {
    width: 51vw;
    height: 23vh;
    display: flex;
    flex-flow: wrap;
    flex-grow: 1;
    justify-content: flex-start;
    align-content: flex-start;
  }

  .article {
    width: 50%;
    float: left;
  }

  .aside {
    display: flex;
    justify-content: flex-end; 
  }

  .container-aside {
    background-Color: #c5350d;
    width: 30vw;
    height: 40vh;
    border-radius: 15px;
    padding: 10px;
    margin-right: 10%;      
  }

  .input {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .map {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20vw;
  height: 30vh;
  overflow: scroll;
  }

  .btn-map{
    border: 1px solid;
    border-radius: 5px;
    border-color: #00B383;
    background-color: #00B383;
    color: #c5350d;
    margin: 5px;
  }

  .btn {
    display: flex;
  }

  .s-options {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: 25%;
    height: 15%;
    border-radius: 10px;
    background-color: #c5350ddc;
    margin-top:15%;
    position: absolute;
    top: 20px;
    left: 10px;
    padding: 5% 5% 10% 5%;
  }

  .s-options div div {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
  }

  .div-enviar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }


